body{
    margin: 0vh;
    padding: 0vh;
    background-color: rgb(247, 211, 211);;
}

.corpo{
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formulario{
    display: flex;
    flex-flow: column;
}

.formulario *{
    margin: 5px;
}
main{
    color: black;
  font-family: "Poppins", sans-serif;
  font-size: xx-large;
}
h1{
    font-family: "Poppins", sans-serif;
    font-size: x-large;
}
select{
    background-color: rgb(247, 211, 211);
    height: 40px;
    color: black;
    font-size: large;
    border-radius: 10px;
}
